# Node.js / NPM
node_modules/
npm-debug.log
yarn-error.log
.yarn/

# Build output
build/
dist/

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# GraphQL cache
.grqphqlcache